* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 18px
}

body {
    background-color: rgb(255, 255, 255);
}

.back-box {
    display:flex;
    align-items: stretch;
    flex:auto;
    height: 2000px;
    background-color:#000000;
}

.back-box#back-center {
    display:flex;
    flex:0.9 0 auto;
    width:700px;
    flex-direction:column;
    background-color: #3d3d3d;
}

.back-box#back-sides {
    display:flex;
    flex:1;  
}

.layer1-h1 {
    display:flex;
    justify-content:space-between;
}

.layer2-h1 {
    display:flex;
    background-color: #1eff00;
    flex: auto;
}

.layer2-h1#center {
    flex-direction: column;
    height:200px;
    flex:1;
}

.layer2-h1#left {
    border-radius: 100% 0% 0% 0% / 100% 0% 0% 0%;
}

.layer2-h1#right {
    border-radius: 0% 100% 0% 0% / 0% 100% 0% 0%;
}


.main-h1 {
    background-color: #1eff00;
    gap: 20px;
    flex:1;
    text-shadow: #3d3d3d;
    text-align:center;
    padding-top: 20px;
    font-size: 40px;
}

.layer3-h1#center {
    background-color: #3d3d3d;
    flex:1;
    border-radius:50% 50% 0% 0% / 100% 100% 0% 0%;
}

.list-box {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top:20px;
}

.list {
    display:flex;
    flex:1;
    background-color: #1eff00;
    padding:15px 0px;
}

.list-pad {
    display:flex;
    flex:2;
    background-color: #3d3d3d;
}

.rec-list {
    margin-left: 10px;
}








